.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding-bottom: 50px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #342828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(89, 4, 208);
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: white;
}



main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 0.rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2f2f;
  height: 60px;
  padding: 0 20px;
}

.nav-logo a {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a {
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links a:first-child {
  margin-left: 0;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

/*
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

nav a:hover {
  text-decoration: underline;
}


main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 0.5rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2f2f;
  height: 60px;
  padding: 0 20px;
}

.nav-logo a {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a {
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links a:first-child {
  margin-left: 0;
}


*/